@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: 0px !important;
  -ms-overflow-style: none !important;
  font-family: var(--font-montserrat), sans-serif;
}

body::-webkit-scrollbar {
  display: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.scollbar-hide::-webkit-scrollbar {
  display: none !important;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientMove {
  background-size: 200% 200%;
  animation: gradientMove 5s infinite linear;
}
.scollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
